@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #e69c4c;
    --secondary-color: #81a9ad;
    --color-1: #f9f6f3;
    --color-2: #f3f7f9;
    --color-3: #f6f3f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body{
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: "Crimson Text", serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: "Crimson Text";
    font-weight: bold;
    font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: middle;
}

.text-container {
    flex: 0 1 30em;
}

h1{
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem
}

.cta-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: 0.5em;
    font-weight: 600;
}

.cta-button:hover {
  background-color: var(--primary-color);
}

.secondary{
    background-color: var(--secondary-color)
}

section#Contact{
    padding: 3em min(2em,15%);
    background-color: var(--color-1);
    text-align: center;

}

h2{
    font-size: 2rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--color-2); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--primary-color);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: var(--color-1);
  padding: 20px;
}

section#my-work {
    background-color: var(--color-1);
}

.container {
    padding: 2rem;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker {
    content: ' ';
    height: 1em;
    width: 1em;
    background-color: var(--secondary-color);
    border-radius: 50%;
    opacity: 50%;
    transition: opacity ease 250ms;
}

.card::scroll-marker:hover {
    opacity: 1;
}

.card::scroll-marker:target-current {
    background-color: var(--primary-color);
    opacity: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left)  {
    content: '→';
    border: none;
    background-color: var(--secondary-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-bottom: 0.3em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%
}

.carousel::scroll-button(left) {
    content: '←';
    position-area: left center;
    translate: 50%
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 35rem;
    height: 500px;
    background-color: var(--color-1);
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
}

@media(max-width: 500px) {
    .card {
        flex: 0 0 100%;
    }
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "img-1 img-2 img-2 "
    "img-1 img-3 img-4";
    gap: 1em
}

.grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}
.grid-container img:hover {
    scale: 1.05;
}


.grid-container#acmapgrid {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-4 img-5";
    gap: 1em
}

.grid-container img#acmapgrid {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

#images {
    margin: 50px;
    padding: 50px;
}

details summary {
    padding: 1em;
    font-size: 1.7rem;
    font-family: "Crimson Text"
}

details p{
    padding: 0 2em 2em 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

@media(max-width: 988px){
    header{
        text-align:center;
    }

    header.text-container{
        padding-top:0;
    }
}

@media(max-width: 640px){
    nav li{
        display: none;
    }

    nav li:first-child,
    nav li:nth-child(4){
        display:block;
    }

    header {
        margin-top: 0;
    }

    .cta-button{
        margin-top: .5em;
        width: 100%;
    }

    .grid-container{
        display:flex;
        flex-direction:column;
    }

    .text-container p{
        font-size:1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
